<footer>
  <ul class="footer-nav">
    <li>
      <a href="">利用規約</a>
    </li>
    <li>
      <a href="">運営者</a>
    </li>
    <li>
      <a href="">お問い合わせ</a>
    </li>
    <li>
      <a href="">寄稿者募集</a>
    </li>
  </ul>
  <p class="footer-copyright">Copyright © SEAPORT All rights reserved.</p>
</footer>
