<header>
  <img src="assets/images/logo-seaport.png" width="300px">
  <nav>
    <ul>
      <li><a href="" title="">きれいな海</a></li>
      <li><a href="" title="">ごはん</a></li>
      <li><a href="" title="">お店</a></li>
      <li><a href="" title="">運動</a></li>
    </ul>
  </nav>
</header>
