
<section class="l-article-main">
    <article class="l-article-big">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <div class="img-mask">
            </div>
            <span class="tag tag-big tag-blue">
                カフェ
            </span>
            <h1 class="article-big-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
            <time datetime="2016-01-24" class="article-date">2016.01.24</time>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <article class="l-article-small">
        <a href="">
            <img src="assets/images/img-article01.jpg" alt="">
            <span class="tag tag-small tag-blue">
                カフェ
            </span>
            <time datetime="2016-01-24" class="article-date-small">2016.01.24</time>
            <h1 class="article-small-heading">
                海が見えると噂の神奈川県のカフェに行ってみた！
            </h1>
        </a>
    </article>
    <div class="article-more">もっと見る</div>
</section>

