<section class="l-article-main l-single">
  <time datetime="2016-03-01">2016.03.01</time>
  <h1>海が見えると噂の神奈川県のカフェに行ってきた！ | h1</h1>
  <img src="assets/images/img-article01.jpg" alt="">
  <p>
    ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
  </p>
  <h2>サブタイトル | h2</h2>
  <ul>
    <li>リスト</li>
    <li>リスト</li>
    <li>リスト</li>
  </ul>
  <h3>サブサブタイトル | h3</h3>
  <p>
  ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。<a href="#">リンクはこんな感じ</a>
  </p>
  <div class="share-buttons">
    <a href="">Facebook</a>
    <a href="">Twitter</a>
  </div>
</section>
