.l-single {

  time {
    display: block;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 24px;
    border-left: 8px solid #cbdbe3;
    background-color: #ddd;
    padding: 5px 5px 5px 10px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 21px;
    border-bottom: 3px solid #cbdbe3;
    padding-bottom: 4px;
    margin-bottom: 30px;
  }

  img {
    width: 530px;
    margin-bottom: 30px;
  }

  p {
    line-height: 1.8;
    margin-bottom: 30px;
  }

  ul {
    border: 2px solid #ddd;
    padding: 20px 20px 20px 30px;
    margin-bottom: 30px;
  }

  ul li {
    margin-bottom: 6px;
    list-style-type: disc;
  }

  a {
    color:
  }
}
