.tag {
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bold;

  &-big {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }

  &-small {
    width: 80px;
    height: 25px;
    line-height: 25px;
  }

  &-blue {
    background-color: rgba(147,189,209,0.8);
  }
}
